:host {
  display: block;

  &.Active {
    background: orange;
  }

  &.Confirmed,
  &.NewConfirmed,
  &.TotalConfirmed {
    background: yellow;
  }

  &.Deaths,
  &.NewDeaths,
  &.TotalDeaths {
    background: red;
  }

  &.Recovered,
  &.NewRecovered,
  &.TotalRecovered {
    background: greenyellow;
  }

  .card {
    background: transparent;

    &-text {
      font-size: 2rem;
    }
  }
}